<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231087563588-53hov2rnrdeoisthcnsg75ovjj3oupv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231087563588-53hov2rnrdeoisthcnsg75ovjj3oupv2</string>
	<key>API_KEY</key>
	<string>AIzaSyAjrOrFjcz-xnq2HGkhY3vh7VduiPp9Voc</string>
	<key>GCM_SENDER_ID</key>
	<string>231087563588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PlatterPals.PlatterPals</string>
	<key>PROJECT_ID</key>
	<string>platter-pals</string>
	<key>STORAGE_BUCKET</key>
	<string>platter-pals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:231087563588:ios:82a0ab2d45d1a70e6b2d11</string>
</dict>
</plist>
