<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165569572595-1u6n398s844ou8j3p6cqu2gmu3ecdchp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165569572595-1u6n398s844ou8j3p6cqu2gmu3ecdchp</string>
	<key>API_KEY</key>
	<string>AIzaSyBE70KmRwOY4_mxk2s88Pi6k1Aafy6yHUs</string>
	<key>GCM_SENDER_ID</key>
	<string>165569572595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PlatterPals.PlatterPals</string>
	<key>PROJECT_ID</key>
	<string>platterpals</string>
	<key>STORAGE_BUCKET</key>
	<string>platterpals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165569572595:ios:4549d5cc8e0b139c69d186</string>
</dict>
</plist>