<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836649545626-onsjaabfc1k78k64ouiu1i8qbo4cupnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836649545626-onsjaabfc1k78k64ouiu1i8qbo4cupnn</string>
	<key>API_KEY</key>
	<string>AIzaSyDIMVmzEWYxWgUoEZISJJHTaT2bUmJg2wA</string>
	<key>GCM_SENDER_ID</key>
	<string>836649545626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tastebuddies.TasteBuddies</string>
	<key>PROJECT_ID</key>
	<string>taste-buddies-3680f</string>
	<key>STORAGE_BUCKET</key>
	<string>taste-buddies-3680f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836649545626:ios:a333421188ff2cf9a81423</string>
</dict>
</plist>